# 64-hex-char (32-byte) secret for JWT signing
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# 32-hex-char (16-byte) secret for signing / sealing cookies
COOKIE_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# How to generate them:
    # OpenSSL (works on macOS/Linux/W-SL)
        # openssl rand -hex 32   # 64-char JWT secret
        # openssl rand -hex 16   # 32-char cookie secret

# Google OAuth
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#Paths
PUBLIC_DIR='/uploads'
AVATAR_SUBDIR='avatars'

NODE_ENV=production
PORT=3000

PUBLIC_ORIGIN=https://MacBook-Pro-2.local:1443