.env
.vscode
.config
node_modules/
dist/
*.pdf
*.sqlite
*.db

# .gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
core/backend/stash.ts
fs2.txt
*.png
core/backend/client_google.json
core/backend/data/user_1_2025-08-15T12_18_00_523Z.json
core/backend/data/user_1_2025-08-15T12_18_30_511Z_false_false.json
