<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
</head> -->
<%- include('./partials/head.ejs') %>
<body>
    <h1>404 - Not Found</h1>
    <p>Oops! Something went wrong.</p>
    <hr>
    <p><a href="/">Return to Home</a></p>
<%- include('./partials/footer.ejs') %>
</body>
</html>
