<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
    <h1>About Me</h1>
    <p>Alooooo !.</p>
    <hr>
    <p><a href="/">Return to Home</a></p>
</body>
</html>
