@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

@layer components {
	/* shared */
	.form-msg { @apply text-center text-sm font-semibold; }
	/* colors  */
	.msg-error { @apply text-red-500;  }
	.msg-ok { @apply text-green-400; }
}

button[disabled] {
	background-color: #4d3941;
	color: #b99da6;
	cursor: not-allowed;
}
/* global scrollbar style ------------------------------------------------ */

/* 1. Firefox + other engines that support the spec */
* {
	scrollbar-width: thin;               /* "auto" | "thin" | "none" */  /*[5]*/
	scrollbar-color: #494143 transparent;/* thumb        track          */
  }

  /* 2. Chrome / Edge / Safari (WebKit) */
  *::-webkit-scrollbar {
	width: 4px;
	height: 4px;
  }

  *::-webkit-scrollbar-track {
	background: transparent;
  }

  *::-webkit-scrollbar-thumb {
	background: #4b3740;
	border-radius: 9999px;
  }

  *::-webkit-scrollbar-thumb:hover {
	background: #644b55;
  }


body{
  /* background-color: darkslategray; */
  font-family: "VT323", monospace;


}
h1{
	/* font-weight: 400; */
	/* font-style: normal; */
	/* font-family: "VT323", monospace; */
}

#game-container canvas {
    object-fit: contain;
    background: #331a21; /* match scene clearColor to avoid flicker */
}

