:80 {
  encode zstd gzip
  # Redirect to the externally-published HTTPS port
  redir https://{$LOCAL_IP}:1443{uri}
}

https://localhost, https://{$HOSTNAME} {
  tls internal
  encode zstd gzip

  @api path /api* /ws* /game* /tournament* /avatars*
  handle @api {
    reverse_proxy app:3000
  }

  handle {
    root * /srv/public
    try_files {path} /index.html
    file_server
  }
}
